<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>hkp://pool.sks-keyservers.net</string>
	<string>hkp://keys.gnupg.net</string>
	<string>hkp://pgp.mit.edu</string>
	<string>hkp://keyserver.adamas.ai</string>
	<string>hkp://pgp.cert.am</string>
	<string>hkp://keyserver.oeg.com.au</string>
	<string>hkp://keys.riverwillow.net.au</string>
	<string>hkp://keys.s-l-c.biz</string>
	<string>hkp://keyserver.mesh.deuxpi.ca</string>
	<string>hkp://sks.ecks.ca</string>
	<string>hkp://keys.thoma.cc</string>
	<string>hkp://keyserver.durcheinandertal.ch</string>
	<string>hkp://keyserver.bau5net.com</string>
	<string>hkp://sks.disunitedstates.com</string>
	<string>hkp://keys.jhcloos.com</string>
	<string>hkp://keyserver.kim-minh.com</string>
	<string>hkp://sks.nimblesec.com</string>
	<string>hkp://keyserver.saol.no-ip.com</string>
	<string>hkp://keyserver.rayservers.com</string>
	<string>hkp://keyserver.secretresearchfacility.com</string>
	<string>hkp://keyserver.trustedtimestamping.com</string>
	<string>hkp://keyserver.ubuntu.com</string>
	<string>hkp://keyserver.ccc-hanau.de</string>
	<string>hkp://keys.exosphere.de</string>
	<string>hkp://sks.fidocon.de</string>
	<string>hkp://keyserver.freenet.de</string>
	<string>hkp://vm-keyserver.spline.inf.fu-berlin.de</string>
	<string>hkp://schluesseldienst.hauke-lampe.de</string>
	<string>hkp://pgp.jjim.de</string>
	<string>hkp://keys-01.licoho.de</string>
	<string>hkp://keys-02.licoho.de</string>
	<string>hkp://zarafa.mpi-bremen.de</string>
	<string>hkp://gpg.planetcyborg.de</string>
	<string>hkp://keyserver.reinig-it.de</string>
	<string>hkp://keyserver.siccegge.de</string>
	<string>hkp://pgp.sighalt.de</string>
	<string>hkp://pgp.uni-mainz.de</string>
	<string>hkp://schluesselkasten.wertarbyte.de</string>
	<string>hkp://gpg.nebrwesleyan.edu</string>
	<string>hkp://keyserver.cns.vt.edu</string>
	<string>hkp://pgp.rediris.es</string>
	<string>hkp://a.keyserver.alteholz.eu</string>
	<string>hkp://pgpkeys.eu</string>
	<string>hkp://keyserver.serviz.fr</string>
	<string>hkp://pks.aaiedu.hr</string>
	<string>hkp://keys.niif.hu</string>
	<string>hkp://klucze.achjoj.info</string>
	<string>hkp://keys.sflc.info</string>
	<string>hkp://sks01.keyhub.io</string>
	<string>hkp://keyserver.linux.it</string>
	<string>hkp://keyserver.uz.sns.it</string>
	<string>hkp://key.ip6.li</string>
	<string>hkp://keyserver.c3l.lu</string>
	<string>hkp://pgp.circl.lu</string>
	<string>hkp://openpgp1.claruscomms.net</string>
	<string>hkp://sks.es.net</string>
	<string>hkp://keyserver.gingerbear.net</string>
	<string>hkp://keys2.kfwebs.net</string>
	<string>hkp://keyserver.layer42.net</string>
	<string>hkp://pgp.megagod.net</string>
	<string>hkp://sks.mrball.net</string>
	<string>hkp://sks.pkqs.net</string>
	<string>hkp://sks.powdarrmonkey.net</string>
	<string>hkp://a.keyserver.pki.scientia.net</string>
	<string>hkp://keyserver.skoopsmedia.net</string>
	<string>hkp://keyserver.undergrid.net</string>
	<string>hkp://sks.undergrid.net</string>
	<string>hkp://keyserver.wetnet.net</string>
	<string>hkp://keyserver.witopia.net</string>
	<string>hkp://keyserver.linuxpro.nl</string>
	<string>hkp://pgpkeys.mallos.nl</string>
	<string>hkp://keyserver.searchy.nl</string>
	<string>hkp://keyserver.stack.nl</string>
	<string>hkp://minsky.surfnet.nl</string>
	<string>hkp://pgp.surfnet.nl</string>
	<string>hkp://c8.uvt.nl</string>
	<string>hkp://pgp.net.nz</string>
	<string>hkp://keyserver.computer42.org</string>
	<string>hkp://keyserver2.computer42.org</string>
	<string>hkp://keys.fedoraproject.org</string>
	<string>hkp://stinkfoot.org</string>
	<string>hkp://keys.indymedia.org</string>
	<string>hkp://sks.karotte.org</string>
	<string>hkp://keyserver.kjsl.org</string>
	<string>hkp://ranger.ky9k.org</string>
	<string>hkp://zimmermann.mayfirst.org</string>
	<string>hkp://ice.mudshark.org</string>
	<string>hkp://keyserver.nausch.org</string>
	<string>hkp://sks.rainydayz.org</string>
	<string>hkp://hkp.spodhuis.org</string>
	<string>hkp://sks.spodhuis.org</string>
	<string>hkp://sks.stsisp.ro</string>
	<string>hkp://bazon.ru</string>
	<string>hkp://keyserver.ut.mephi.ru</string>
	<string>hkp://pgp.ohai.su</string>
	<string>hkp://keys.alderwick.co.uk</string>
	<string>hkp://pgpkeys.co.uk</string>
	<string>hkp://sks.research.nxfifteen.me.uk</string>
	<string>hkp://keyserver.sincer.us</string>
	<string>hkp://keys.stueve.us</string>
	<string>hkp://keyserver.leg.uct.ac.za</string>
</array>
</plist>
